*.mp3

#Altera_Cyclone_II_FPGA_Starter_Board
Altera_Cyclone_II_FPGA_Starter_Board/clock/db
Altera_Cyclone_II_FPGA_Starter_Board/clock/incremental_db
Altera_Cyclone_II_FPGA_Starter_Board/clock/output_files
Altera_Cyclone_II_FPGA_Starter_Board/clock/clock.qws
Altera_Cyclone_II_FPGA_Starter_Board/clock/simulation
Altera_Cyclone_II_FPGA_Starter_Board/clock/clock_nativelink_simulation.rpt
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/*v.bak
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/*sv.bak


#AI
ai/*.png
ai/images
ai/.idea
ai/venv


