*.mp3

#Altera_Cyclone_II_FPGA_Starter_Board
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/db
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/incremental_db
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/output_files
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/clock.qws
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/simulation
Altera_Cyclone_II_FPGA_Starter_Board/clock/sourceCode/clock_nativelink_simulation.rpt


#AI
ai/*.png
ai/images
ai/.idea
ai/venv


